:root{
  --primary-color: #ffffff;
  --secondary-color: #111111;
  --faded-color: rgba(255,255,255,0.6);
  --hover-color: #313131;
}

:root.light {
  --primary-color: #000000;
  --secondary-color: #ffffff;
  --faded-color: rgba(0, 0, 0, 0.6);
  --hover-color: #d0d0d0;
}

body {
  overflow: hidden;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--secondary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
